body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    margin: 0;
}

#blog-box{
    padding-top: 70px;
    padding-left: 70px;
}

nav {
    background-color: beige;
    padding: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav > h3 {
    margin: 0;
}

#blog-list {
    padding: 30px 10px 10px;
}